/** Imports */
@import url(https://fonts.googleapis.com/css?family=Poiret+One);

/** Elements */
body {
    height: 100%;
    width: 100%;
    text-align: center;
}

h1 {
    font: 400 8em/1em"Poiret One";
}

/** IDs */
#handle:hover {

}

#listen-or-record {
    text-align: center;
}

#login-buttons .login-button, .accounts-dialog .login-button {
    background: #1b1c1d;
    border: black;
    -webkit-box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2) inset;
}

#login-buttons .login-button:hover, .accounts-dialog .login-button:hover {
    background: ghostwhite;
    color: black;
}

#main-panel {
    height: auto;
    margin: auto;
    padding-top: 4em;
    width: 80%;
}

#slider {
    -webkit-appearance: slider-vertical;
    -webkit-writing-mode: bt-lr;
    -ms-writing-mode: bt-lr;
    writing-mode: bt-lr;

    position: absolute;
    top: 3.2em;
    right: 0;
    height: 21em;
    width: 1.5em;
}

#y-axis {
    margin-bottom: 2em;
}

/** Classes */
.chart {
    margin-top: 2em;
}

.chart.c3 {
    margin-bottom: 1em;
}

.c3-region.threshold {
    fill: red;
}

.pin-head {
    cursor: -webkit-grab;
    position:absolute;
    right: -0.1em;
    transform: rotate(90deg);
}

a.pin-head {
    transform: rotate(-90deg);
}

.pin-pointer {
    position: absolute;
    border-bottom: 2px solid #FF3232;
    height: 29px;
    right: 14px;
    width: 50%;
}

.short {
    width: 6em;
}

.ui[class*="left labeled"].icon.button.expandable {
    padding-right: 0 !important;
    -webkit-transition: padding-right 2s ease;
    -moz-transition: padding-right 2s ease;
    -ms-transition: padding-right 2s ease;
    -o-transition: padding-right 2s ease;
    transition: padding-right 2s ease;
}

.ui[class*="right labeled"].icon.button.expandable {
    padding-left: 0 !important;
    -webkit-transition: padding-left 2s ease;
    -moz-transition: padding-left 2s ease;
    -ms-transition: padding-left 2s ease;
    -o-transition: padding-left 2s ease;
    transition: padding-left 2s ease;
}