<template name="chart">
    <div class = "chart"></div>
    <div id="slider" type="range"></div>
    <div class = "ui left stackable grid">
        <div class="ui five wide column">
            <div id="y-axis" class="ui mini right labeled input">
                <i class="large pin icon" data-content="Pin the y axis"></i>
                <div class="ui input short">
                    <input id="y-min" type="text" placeholder="min y" autocomplete="off" value="{{min}}">
                </div>
                <div class="ui basic label">to</div>
                <div class="ui input short">
                    <input id="y-max" type="text" placeholder="max y" autocomplete="off" value="{{max}}">
                </div>
                <div class="ui basic label">hz</div>
            </div>
        </div>
    </div>
</template>

<template name="controls">
    <div class="tiny black ui buttons">
        <button id = "back" class="ui left labeled icon button {{#if playing}}expandable{{/if}}">
            <i class="left chevron icon"></i>{{#unless playing}}Back{{/unless}}
        </button>
        {{#if playing}}
            <button id = "pause" class="ui button">
                <i class="pause icon"></i>Pause
            </button>
        {{else}}
            <button id = "play" class="ui button">
                <i class="play icon"></i>Play
            </button>
        {{/if}}
        <button id = "forward" class="ui right labeled icon button {{#if playing}}expandable{{/if}}">{{#unless playing}}Forward{{/unless}}
            <i class="right chevron icon"></i>
        </button>
    </div>
</template>