<template name="panel">
    <div class="ui top attached tabular menu">
        {{#each mics}}
	    {{> mic}}
	{{/each}}
        <div class="right menu">
            {{> pin_mic}}
        </div>
    </div>
    <div class="ui bottom attached segment">
        {{#if currentUser}}
            {{> chart}}
            <div class="" style="position: absolute; top: {{pos.top}}px;"></div>
            <a class="ui red circular label" style="position: absolute; top: {{pos.top}}px;">{{pos.left}}</a>
            <div id = "control-panel">
                {{> controls}}
            </div>
        {{/if}}
    </div>
</template>

<template name="mic">
<a class="item">
    <i class="{{device}}"></i>
    {{name}}
</a>
</template>
